# Dependencies
node_modules/
package-lock.json

# Builds
build/
dist/
.next/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
firebase-functions/
cioos-records-update/
.venv/
src/serviceWorker.js
src/**/__tests__/*.test*
