name: Deploy firebase functions
on:
  push:
    branches:
      - main
    paths:
      - "firebase-functions/**"
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Dependencies
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: npm ci
        working-directory: firebase-functions
      - name: Install Dependencies
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: npm ci
        working-directory: firebase-functions/functions
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_PASS: ${{ secrets.GMAIL_PASS }}
          DATACITE_USER: ${{ secrets.DATACITE_USER }}
          DATACITE_PASS: ${{ secrets.DATACITE_PASS }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESSKEYID: ${{ secrets.AWS_ACCESSKEYID }}
          AWS_SECRETACCESSKEY: ${{ secrets.AWS_SECRETACCESSKEY }}
          GITHUB_AUTH: ${{ secrets.ISSUE_CREATOR_PAT }}
          PROJECT_PATH: ./firebase-functions
